:root {
  --main-bg-color: #fffff;
  --item-hover-bg: #93B5C6;
  --item-hover-color: #E4D8DC;
  --item-bg-color: #FFE3E3;
  --box-header-bg: #9b59b6;
  --box-header-color: #fff;
}

.list {
  position: relative;
  padding: unset;
  margin: 0;
  width: 100%;
}

.item {
  list-style: none;
  padding: 15px 40px;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  position: relative;
  background: var(--item-bg-color);
  cursor: pointer;
  transition: all 0.3s;
}

.item:hover {
  transform: scale(1.1);
  z-index: 100;
  background: var(--item-hover-bg);
  color: var(--item-hover-color);
}

.item i {
  color: var(--item-hover-bg);
}

.item:hover i {
  color: var(--item-hover-color);
}

.right-icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.left-icon {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}
